<a href="https://colab.research.google.com/github/nileshjd2202/Data-Science/blob/main/web_scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
import requests

In [ ]:
flipkart = requests.get("https://www.flipkart.com/search?q=iphone")

In [ ]:
print(flipkart.content)

In [ ]:
type(flipkart.content)

In [ ]:
flipkart.text

In [ ]:
type(flipkart.text)

In [ ]:
soup = BeautifulSoup(flipkart.text, "html.parser")

In [ ]:
print(soup.prettify)

In [ ]:
print(soup.title.text)

In [ ]:
mobile = soup.find("div", class_="_2kHMtA")

In [ ]:
len(mobile)

In [ ]:
mobiles = soup.find_all("div", class_="_2kHMtA")

In [ ]:
len(mobiles)

In [ ]:
name = mobile.find("div", class_="_4rR01T")

In [ ]:
name.text

In [ ]:
name = name.text.split(",")

In [ ]:
name = name[0]+")"

In [ ]:
name

In [ ]:
price = mobile.find("div", class_="_30jeq3 _1_WHN1")

In [ ]:
len(price)

In [ ]:
price.text

In [ ]:
rom = mobile.find("li", class_="rgWa7D")

In [ ]:
rom.text

In [ ]:
rom.text.split(" ROM")[0]

In [ ]:
names = []
prices = []
roms = []

for mobile in mobiles:
  name = mobile.find("div", class_="_4rR01T").text.split(",")[0]+")"
  price = mobile.find("div", class_="_30jeq3 _1_WHN1").text
  rom = mobile.find("li", class_="rgWa7D").text.split(" ROM")[0]

  names.append(name)
  prices.append(price)
  roms.append(rom)

In [ ]:
names

In [ ]:
dict1 = {"Models":names, "Price":prices, "ROM": roms}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(dict1)

In [ ]:
df

                                 Models    Price     ROM
0               APPLE iPhone SE (Black)  ₹30,099   64 GB
1               APPLE iPhone SE (White)  ₹30,099   64 GB
2               APPLE iPhone SE (Black)  ₹35,099  128 GB
3          APPLE iPhone 12 Mini (Black)  ₹49,999   64 GB
4                 APPLE iPhone SE (Red)  ₹30,099   64 GB
5               APPLE iPhone SE (White)  ₹35,099  128 GB
6                 APPLE iPhone SE (Red)  ₹35,099  128 GB
7               APPLE iPhone 12 (Black)  ₹60,299   64 GB
8          APPLE iPhone 12 Mini (White)  ₹49,999   64 GB
9           APPLE iPhone 12 Mini (Blue)  ₹49,999   64 GB
10               APPLE iPhone 12 (Blue)  ₹64,999  128 GB
11       Apple iPhone XR ((PRODUCT)RED)  ₹39,999   64 GB
12         APPLE iPhone 12 Mini (Green)  ₹49,999   64 GB
13               APPLE iPhone 13 (Pink)  ₹74,900  128 GB
14          APPLE iPhone 13 (Starlight)  ₹74,900  128 GB
15           APPLE iPhone 13 (Midnight)  ₹74,900  128 GB
16              APPLE iPhone 11 (Green)  ₹49,900   64 GB
17               APPLE iPhone 13 (Blue)  ₹74,900  128 GB
18       APPLE iPhone 13 ((PRODUCT)RED)  ₹84,900  256 GB
19              APPLE iPhone 11 (Black)  ₹49,900   64 GB
20       APPLE iPhone XR ((PRODUCT)RED)  ₹39,999   64 GB
21  APPLE iPhone 13 Mini ((PRODUCT)RED)  ₹69,900  128 GB
22          APPLE iPhone 13 Mini (Pink)  ₹69,900  128 GB
23               APPLE iPhone 13 (Blue)  ₹84,900  256 GB

### Extract URL

In [ ]:
mobile.a

In [ ]:
url = mobile.a["href"]

In [ ]:
url

In [ ]:
url = url.split("?")[0]
url

In [ ]:
url = "https://www.flipkart.com/" + url

In [ ]:
url